
    :root {
      --text-primary: #000000;
      --text-secondary: #ffffff; 
      --text-dark: #000000; 
      --text-light: #ffd6e0;
      --text-white: #ffffff; 
      --bg-primary: #ff3366; 
      --bg-secondary: #ff80b5; 
      --bg-dark: #e53946; 
      --bg-light: #ffe0e9; 
      --button-color: #ffffff; 
      --bg-site: #ffe4ec; 
      --fs-large: 16px;
      --fs-medium: 14px;
      --fs-small: 12px;
      --spacing-xl: 42px;
      --spacing-large: 28px;
      --spacing-medium: 16px;
      --spacing-small: 8px;
      --spacing-tiny: 4px;
      --mobile-logo-height: 45px;
    }


    * {
      box-sizing: border-box;
    }

    body, h1, h2, h3, p {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      text-decoration: none;
    }


    input[type="submit"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      opacity: 1;
    }

    
    body {
      font-family: 'Poppins', sans-serif;
      background-color: var(--bg-site); 
      background-image: url("../img/WhatsApp%20Image%202025-03-31%20at%2020.47.28_71e5d80c.jpg");
      background-position: center center; 
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background-repeat: no-repeat;
background-size: cover;

    }

    h1 {
      font-size: 56px;
      text-align: center;
      color: var(--text-primary); 
    }

    h2 {
      font-size: 28px;
      color: var(--text-primary); 
    }

    h3 {
      font-size: 24px;
      color: var(--text-primary); 
    }

    p {
      font-size: var(--fs-medium);
      color: var(--text-primary); 
    }

    .container {
      max-width: 1200px;
      min-width: 320px;
      margin: auto;
      padding: var(--spacing-medium);
    }

    .excursie {
      background: white; 
      padding: 15px;
      margin: 10px auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      transition: transform 0.3s ease-in-out;
    }

    .excursie:hover {
      transform: scale(1.05);
    }

    .excursie h2 {
      margin: 0;
      color: var(--text-primary); 
    }

    .excursie p {
      margin: 5px 0;
      font-size: 16px;
      color: var(--text-primary); 
    }

    footer {
      background-color: var(--bg-dark); 
      text-align: center;
      padding: var(--spacing-medium);
    }

    footer p {
      font-size: var(--fs-small);
      color: var(--text-light); 
    }

    

